/* ---------------GLOBAL STYLES--------------- */
* {
  scroll-behavior: smooth;
  cursor: url(../images/svg/Cursor.svg), default;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Fredoka One", cursive;
  color: #011936;
}

h1 {
  font-size: 2.7em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.8em;
}

p,
li,
label,
.copyright,
sl-dialog {
  font-family: "Handlee", cursive;
  font-size: 1.2em;
  line-height: 1.7;
  letter-spacing: 1px;
  color: #011936;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.6em;
  }
  p {
    font-size: 1em;
  }
}

a {
  color: #ed254e;
  text-decoration: none;
  font-family: "Handlee", cursive;
  transition: color 0.5s;
}

a:hover {
  cursor: url(../images/svg/linkCursor.svg), pointer;
  text-decoration: underline;
  color: #c2eabd;
}

body[data-aos-duration="1000"] [data-aos],
[data-aos][data-aos][data-aos-duration="1000"] {
  transition-duration: 1000ms;
}

/* ---------------NAVBAR & HEADER STYLES--------------- */
.navbar {
  padding: 0;
  backdrop-filter: blur(5px);
}

.bg-light {
  background-color: rgba(225, 225, 225, 0.2) !important;
}

.navbar-light .navbar-nav .nav-link {
  border: none;
  background-color: #ed254e;
  color: #ffffff;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 25px;
  float: right;
  transition: color 0.5s, background-color 0.5s;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #ed254e;
  background-color: #f9dc5c;
}

.navbar-light .navbar-toggler {
  color: #ed254e;
  border: none;
  background-color: #f9dc5c;
  border-radius: 50px;
  padding: 15px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../images/svg/hamburger.svg);
}

[type="button"]:not(:disabled),
button:not(:disabled) {
  cursor: url(../images/svg/linkCursor.svg), pointer;
}

.logo {
  cursor: url(../images/svg/linkCursor.svg), pointer;
}

.header-background {
  height: auto;
  min-height: 650px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  background-image: url(../images/svg/largeHeaderImage.svg);
  background-repeat: no-repeat;
  flex-direction: column;
  background-position: top right;
  background-size: contain;
  background-origin: border-box;
}

.heading {
  padding-top: 300px;
  padding-bottom: 15px;
}

.ml6 {
  position: relative;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.heading-p,
.dog-svg {
  float: right;
}

/* ---------------INTRODUCTION STYLES--------------- */

#introduction {
  margin-bottom: 50px;
}

/* ---------------EXERSICE STYLES--------------- */
.ball {
  padding: 10px;
  padding-top: 164px;
}

.shape {
  padding-top: 40px;
}

.no-padding-left {
  margin-left: 0;
  padding-left: 0;
}

.no-padding-right {
  margin-right: 0;
  padding-right: 0;
}

.leash {
  padding-top: 32px;
}

.follow-exercise-path {
  position: relative;
  width: 1000px;
  margin: auto;
}

.emoji {
  position: absolute;
  font-size: 40px;
  line-height: 28px;
  top: -14px;
  left: -20px;
}

@media only screen and (max-width: 900px) {
  .display-none {
    display: none;
  }
}

/* ---------------DIET STYLES--------------- */
.dog-diet {
  background-image: url(../images/svg/dogdiet.svg);
  background-repeat: no-repeat;
}

.padding-top {
  padding-top: 120px;
}

/* ---------------ANIMATION STYLES--------------- */
.animate {
  padding: 0 50px 50px 50px;
  animation: bounce 3.14s linear 0s infinite alternate;
}

.redball {
  margin: 30px;
  animation: bounce1 1.03s ease 0s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(80vw - 10vmin));
  }
}

@keyframes bounce1 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(calc(20vh - 10vmin));
  }
}

/* ---------------GALLERY STYLES--------------- */
.carousel {
  margin-bottom: 72px;
  margin-top: 72px;
}

/* ---------------FOOTER STYLES--------------- */

footer p,
footer label,
footer .copyright {
  font-size: 0.9em;
}

.svg-background {
  background-image: url(../images/svg/footerBackground.svg);
  background-repeat: no-repeat;
}

.social {
  padding-top: 40px;
}

.social-img {
  margin: 15px;
}

.social-img:hover {
  cursor: url(../images/svg/linkCursor.svg), pointer;
  border: #ffffff solid 1px;
  border-radius: 50px;
}
